/* App.css */

body {
  font-family: "Open Sans", sans-serif;
}

.main-content {
  display: flex;
}

.content {
   /* This should be the width of the sidebar */
  padding: 1em;
  flex-grow: 1;
  box-sizing: border-box;
}

.home {
  text-align: left;
  background-image: url('./assets/background.png'); /* Update the path if necessary */
  background-size: contain; /* Ensure the entire image is visible */
  background-position: bottom right;
   /* Position the background image to the bottom right */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  height: 100vh; /* Ensure the background covers the full viewport height */
  padding: 2em; /* Add some padding */
  margin-top: 50px; /* Add top padding to account for the navbar height */
  box-sizing: border-box; /* Ensure padding and margin are included in the element's total width and height */
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.class-cards {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  gap: 30px;
}

.class-card-link {
  text-decoration: none; /* Remove underline from Link */
  color: #333; /* Set text color for Link */
}

.class-card {
  background-color: #f4f4f4;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
  text-align: center;
  transition: transform 0.3s ease;
}

.class-card:hover {
  transform: translateY(-5px);
}

.class-card h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-card p {
  color: #666;
  margin-top: 0.5em;
}


.class-details {
  padding: 20px;
  margin-top: 100px;
}

.points-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.available-points, .total-points {
  width: 45%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.leaderboard-button-det{
  text-align: center;
  margin-top: 20px;
}
.leaderboard-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.leaderboard-button:hover {
  background-color: #0056b3;
}

.leaderboard {
  padding: 20px;
  margin-top: 100px;
  margin-left: 50px;
}

.leaderboard h1 {
  margin-bottom: 20px;
}

.details{
  padding: 20px;
  margin-top: 100px;
  margin-left: 50px;
}

.details h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.current-user {
  background-color: #f0f8ff; /* Highlight the current user */
}

